@use './variables' as *;
@use './mixins' as *;

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/* sr-only */

.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	word-wrap: normal !important;
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*  Hidden  */

[hidden],
.hidden {
	display: none;
}

/*  Disabled  */

[disabled],
.disabled {
	cursor: default;
}
